name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Plugins
        run: .\build.ps1

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            mainwp-ai1wm-manager.zip
            mainwp-ai1wm-manager-child.zip
